{% extends 'base.html' %} 

{% load static %}

{% block title %}
enter
{% endblock %}

{% block header %}
<div>
    <div style="float: left">
        <img width="43" src="{% static 'img/logo.png' %}">
    </div>
    <div>
        Accesde a tu cuenta
    </div>
</div>
{% endblock %}

{% block content %}

<form action="" method="POST">{% csrf_token %}
{% for field in form %} 
<p>{{field.label_tag}}
    <br>
    {{field}}
</p>

{% endfor %} 
<input type="submit" value="Ingresar">
</form>

{% endblock %}